{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SIEM{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'navigation.html' %}
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
</html>


